.footer-container {
  width: 90%;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  line-height: 2;

  a {
    color: rgba(255, 255, 255, 0.726);

    &:hover {
      color: rgba(255, 255, 255, 0.37);
    }
  }
}

@media (max-width: 414px) {
  .footer-container {
    flex-direction: column;
  }
}
