.icons-container {
  //   height: 50px;
  display: flex;
  justify-content: space-evenly;

  .icon {
    width: 34px;
    fill: white;
  }

  a:hover {
    .icon {
      fill: black;
    }
  }
}

.icons-top {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 200px;
}

.icons-bottom {
  position: relative;
  width: 200px;
}

@media (max-width: 414px) {
  .icons-container {
    .icon {
      width: 25px;
      margin-right: 15px;
    }
  }

  .icons-top,
  .icons-bottom {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
  }
}
