.navigation {
    position: absolute;
    width: 100%;
    margin: 20px 0;
    background: rgb(145,75,226);
    background: linear-gradient(180deg, rgba(145,75,226,1) 0%, rgba(92,83,137,0) 100%);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center
    }
    li {
        list-style: none;
    }
    span {
        margin: 0 20px;
        font-size: 30px;
    }
    button {
        color: $gp-light;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;
        background: none;
        border: none;
        &:hover {
            color: white;
        }
    }
}