.skills-container {
    width: 40%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    justify-content: center;
    align-items: center;


}

.head-container {
    color: white;
    padding-bottom: 20px;
    width: 200px;
    border-bottom: 1px solid gray;
}

.sub-title {
    color: white;
    font-size: 1.3rem;
}