* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Urbanist', sans-serif;
}

.container {
  text-align: center;
  height: 600px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &:nth-child(3) {
    height: 1200px;
  }

  &:nth-child(2n) {
    background-color: $gp-light;
  }
}

.section-header {
  font-size: 2rem;
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
